{% extends "wagtailadmin/base.html" %}
{% load i18n %}
{% load l10n %}
{% load static wagtailadmin_tags wagtailimages_tags %}


{% block content %}
    {% include "wagtailadmin/shared/header.html" with title="ADD ICONS" icon="tick-inverse" %}

    <div class="nice-padding">
     
            <p>{{ help_text }}</p>

            <form id="fileform" mathod="POST" enctype="multipart/form-data" >
               
                {% csrf_token %}
                {{ form.as_table }}
                <input type="submit" value="Submit" id="Save">

            </form>


    </div>

{% endblock %}

{% block extra_js %}
    <script src="{% static 'icons/js/add_icon.js' %}"></script>
{% endblock %}
