{% extends "wagtailadmin/base.html" %}
{% load i18n %}
{% load l10n %}
{% load static wagtailadmin_tags wagtailimages_tags %}
{% block extra_css %}

    <link rel="stylesheet" href="{% versioned_static 'wagtailimages/css/add-multiple.css' %}" type="text/css" />
    <link rel="stylesheet" href="{% static 'wagtail_icons/style/add.css' %}" type="text/css" />
    <link rel="stylesheet" href="{% static 'wagtail_icons/style/index.css' %}" type="text/css" />
    
{% endblock %}

{% block content %}


    {% url "wagtailicons:index" as view_group %}
    {% url "wagtailicons:groups" as groups %}
    {% with group.title as group_title %}
    {% include "wagtail_icons/icons_page/icons_header.html" with search_url="wagtailicons:add" title="Add "|add:group_title|add:" icons" second_btn=groups second_btn_text='Groups' action_url=view_group group=group action_text='Back' %}
    {% endwith %}

    <div class="nice-padding">

        {% if group %}
            <div style="text-align:center;margin-bottom:2rem" class="mode-box">
                <button class="normal-button" id="new_icon_mode">Add New Icons</button>
                <button class="normal-button" id="existing_icon_mode">Add Existing Icons</button>
            </div>
        {% endif %}

        <div class="new_icon_box {% if not group or not query_string %}active{% endif %}" id="new_icon_box">
            <form id="fileform" method="POST" enctype="multipart/form-data" >
                
                {% csrf_token %}
                {{ form.title }}
                <div class="file_box">
                    {{ form.file }}
                    <div class="previewIcon_box">
                        <img id="previewIcon" src="" alt="">
                        <p id="wrong_format_info">Unsupported File Format</p>
                    </div>
                </div>
                <input class="add_button" type="submit" value="Submit" data-group_id="{{group.id}}" id="Save">
    
            </form>
            
            <ul class="uploaded_icons_list" id="uploaded_icons_list" data-action_url="{% url 'wagtailicons:add' %}">
    
            </ul>
        </div>
        {% if group %}
            <div class="existing_icon_box {% if query_string %}active{% endif %}" id="existing_icon_box">
                {% include "wagtail_icons/icons_page/icons_results.html" with action="add" %}
            </div>
        {% endif %}
            
    </div>




{% endblock %}

{% block extra_js %}
    <script src="{% static 'wagtail_icons/js/add_icon.js' %}"></script>
    <script src="{% static 'wagtail_icons/js/index.js' %}"></script>

{% endblock %}
