<!-- @usefull main icon page -->
{% extends "wagtailadmin/base.html" %}
{% load static wagtailadmin_tags i18n %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'wagtail_icons/style/index.css' %}" type="text/css" />
{% endblock %}


{% block content %}

    {% url "wagtailicons:add" as add_icon %}
    {% include "wagtail_icons/icons_page/icons_header.html" with title="Icons" groups="True" action_url=add_icon action_text='Add icon' icon="tick-inverse" %}

    
    <div class="nice-padding">
        <div id="icons-results">
            {% include "wagtail_icons/icons_page/icons_results.html" %}
        </div>
    </div>

{% endblock %}

{% block extra_js %}
    <script src="{% static 'wagtail_icons/js/index.js' %}"></script>
{% endblock %}