
<!-- @usefull main icon page -->
{% extends "wagtailadmin/base.html" %}
{% load static wagtailadmin_tags i18n %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'wagtail_icons/style/groups.css' %}" type="text/css" />
    <link rel="stylesheet" href="{% static 'wagtail_icons/style/index.css' %}" type="text/css" />
{% endblock %}


{% block content %}

    {% url "wagtailicons:groups" as groups %}
    {% include "wagtail_icons/icons_page/icons_header.html" with title="Add Icon Group" action_url=groups action_text='Groups' icon="tick-inverse" %}

    
    <div class="nice-padding">

        <form id="group_form" action="{% url 'wagtailicons:add_group' %}" method="post">
           
            {% csrf_token %}
            {{ form.title }}
            {{ form.slug }}
            <ul class="icons">
                {% for icon in icons %}
                <li class="icon_choice_box">
                    <div class="icon">
                        <div class="icon_overlay"><p>{{icon.title}}</p></div>
                        <img class="icon_choice" src="{% get_media_prefix %}{{icon.file}}" data-id="{{icon.id}}" alt="{{icon.title}}"style="width:150px;height:150px" alt="">
                    </div>
                    <input class="icon_input" type="checkbox" name="icons" value="{{icon.id}}">
                </li>
                {% endfor %}
            </ul>
            <input class="add_button" type="submit" value="Create" id="Save">
        </form>
    </div>

{% endblock %}

{% block extra_js %}
    <script src="{% static 'wagtail_icons/js/add_group.js' %}"></script>
{% endblock %}