<!-- @usefull main icon page -->
{% extends "wagtailadmin/base.html" %}
{% load static wagtailadmin_tags i18n %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'wagtail_icons/style/groups.css' %}" type="text/css" />
{% endblock %}


{% block content %}

    {% url "wagtailicons:add" as add_icon %}
    {% include "wagtail_icons/icons_page/icons_header.html" with title="Icon Groups" groups="False" action_url=add_icon action_text='Add Group' icon="tick-inverse" %}

    
    <div class="nice-padding">

        <div class="groups-box">
            <table class="groups-table">
                <tr class="groups-table-header">
                    <th></th>
                    <th>Title</th>
                    <th>Slug</th>
                </tr>
                <tr class="group">
                    <td>
                        <input class="group-checkbox" type="checkbox">
                    </td>
                    <td>
                        Group Title
                    </td>
                    <td>
                        Group Slug
                        <button class="content-button">View</button>
                    </td>
                </tr>
            </table>
        </div>

    </div>

{% endblock %}

{% block extra_js %}

{% endblock %}