<!-- @usefull main icon page -->
{% extends "wagtailadmin/base.html" %}
{% load static wagtailadmin_tags i18n %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'wagtail_icons/style/groups.css' %}" type="text/css" />
{% endblock %}


{% block content %}

    {% url "wagtailicons:add_group" as add_group %}
    {% url "wagtailicons:index" as icons_index %}
    {% include "wagtail_icons/icons_page/icons_header.html" with title="Icon Groups" second_btn=icons_index second_btn_text='Icons' action_url=add_group action_text='Add Group' icon="tick-inverse" action_icon='plus' %}

    
    <div class="nice-padding">

        {% if groups %}
            <div class="groups-box">
                <table class="groups-table">
                    <tr class="groups-table-header">
                        <th></th>
                        <th>Title</th>
                        <th>Slug</th>
                        <th>Icons Number</th>
                    </tr>
                    <form id="groups_form" method="POST">
                        {% csrf_token %}
                        {% for group in groups %}
                        <tr class="group">
                            <td>
                                <input class="group-checkbox" type="checkbox" name="groups" value="{{group.id}}">
                            </td>
                            <td>
                                {{group.title}}
                            </td>
                            <td>
                                {{group.slug}}
                            </td>
                            <td>
                                {{group.icons.count}}
                            </td>
                            <td class="last-column">
                                <a href="{% url 'wagtailicons:add' %}?group={{group.id}}">
                                    <div class="content-button">Add Icons</div>
                                </a>
                                <a href="{% url 'wagtailicons:index' %}?group={{group.id}}">
                                    <div class="content-button">View</div>
                                </a>
                            </td>
                        </tr>
                        {% endfor %}
                        <input type="hidden" name="type" class="group_form_type">
                    </form>
                </table>
            </div>
        {% else %}
            <p>You haven't created any groups.</p>
        {% endif %}

    <div class="delete-btn-box">
        <button class="group_button" id="delete_btn" type="submit" data-type='delete' value="{% url 'wagtailicons:groups' %}">Delete</button>
    </div>


    </div>

{% endblock %}

{% block extra_js %}
<script src="{% static 'wagtail_icons/js/groups.js' %}"></script>
{% endblock %}